a {
text-decoration: none;
}
iframe {
border: none;
}
.nav-pane {
margin-left: 0px;
overflow-y:auto;
width:420px;
}
.query-pane .op button {
padding: 0px;
padding-right: 5px;
color: white;
background-color: rgba(2, 162, 233, 0.6);
font-size: 14px;
}
.grid th, .grid td {
font-size: 14px;
}

td.getMap:hover{
background-color:#155b9c;
cursor: pointer;
}
.workarea{
overflow: hidden;
}
@media only screen and (max-width: 1024px) {
	.nav-pane {
		width:350px;
	}
}